@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    border-radius: 8px;
    color: #FFF;
    font-size: 1.28rem;
    background: #FF900E;   
    padding: 20px 25px;
    cursor: pointer;
    border: 0;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav--title{
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    color: #727272;
}
.banner img{
    margin-top: 20px;
    width: 100%;
}

main{
    max-width: 1440px;
    margin: 70px auto;
}
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}

.teams-titles{
    font-size: 3rem;
    
}
.quick{
    color: gray;
}
.features-color{
    color: #FF900E;
}
.features{
    margin-top: 130px;
    display: flex;
    gap: 120px;
}
.features .nav--title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-content .card{
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.06);
}
.feature-img img{
    height: 90%;
    margin-left: 90px;
}
.ten-years{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 342px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}
.ten-years h2{
    font-size: 4rem;
    margin: 0;
}
.ten-years p{
    font-size: 16px;
}
.facts-card{
    display: flex;
    justify-content: space-around;
}
.facts-card .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    font-size: 2.8rem;
    padding: 30px;
    
}
.card-title{
    font-weight: 600;
    font-size: 20px;
    margin-top: 5px;

}
.card-starts{
    font-weight: 2.8rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.sponsors{
    text-align: center;
}
.sponsors-img-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}
.sponsors-img-container img{
    width: 165px;
}
@media screen  and (max-width: 576px){
    header{
        padding: 20px;
    }
    nav, .teams-container, .facts-card,
    .sponsors-img-container{
        flex-direction: column;
    }
}
@media screen and(min-width: 576px) and(max-width:960px) {
    header{
        padding: 50px;
    }
    nav, .teams-container, .facts-card,
    .sponsors-img-container{
        flex-direction: column;
    }
}